# Ferramentas Python
fastapi==0.115.12
uvicorn==0.34.2
pydantic==2.11.4
python-dotenv==1.1.0
httpx==0.24.1  # Ferramenta de requisições HTTP (Project Discovery)
dnsx==1.2.0  # Ferramenta de resolução de DNS (Project Discovery)
requests==2.28.2  # Caso precise de requests como alternativa

# Ferramentas Project Discovery (instalação via GitHub)
git+https://github.com/projectdiscovery/subfinder.git  # Ferramenta de descoberta de subdomínios
git+https://github.com/projectdiscovery/naabu.git  # Scanner de portas
git+https://github.com/projectdiscovery/nuclei.git  # Scanner de vulnerabilidades
